.welcomeContainer {
  padding: 10px 20px;
}

.welcome {
  text-align: center;
  margin-top: 150px;
  font-size: 2.5rem;
}

.form {
  width: 100%;
  max-width: 600px;
  display: flex;
  height: 42px;
  margin: 50px auto;
}

.input {
  flex: 1;
  padding: 10px 12px;
  border-radius: 3px 0 0 3px;
  border: solid 1px grey;
  border-right: none;
  box-shadow: none;
  outline: none;
}

.input:focus {
  border-color: #830051;
}

.button {
  height: 100%;
  outline: none;
  text-decoration: none;
  text-align: center;
  line-height: normal;
  font-size: 1rem;
  font-weight: 400;
  border-style: solid;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 0.5px;
  border-radius: 0 3px 3px 0;
  border-width: 1px;
  background-color: #830051;
  border-color: #830051;
  color: white;
}

.button:disabled {
  opacity: 0.4;
}
